@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholder';

@import './base/common';
@import './base/container';

@import './components/modal-btn';
@import './components/logo';
@import './components/subtitle';
@import './components/description';

@import './layout/header';
@import './layout/hero';
@import './layout/feature';
@import './layout/work';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/portfolio';
@import './layout/modal';

@import './components/social-list';























