.feature {
    padding-top: 60px;
    padding-bottom: 60px;
}
.feature__wrapper {
    @extend %align;
    max-width: 450px;
    height: 120px;
    background-color: var(--third-bgc-color);
    margin-bottom: 30px;
}
.feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .feature__list {
        display: block;
    }
    .feature__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .feature__list {
        flex-wrap: wrap;
        margin: -15px;
    }
    .feature__item{
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }
    .feature__wrapper {
        width: 354px;
    }
    .feature__title {
        text-align: left;
    }
}
@media screen and (min-width: 1200px) {
    .feature {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .feature__item {
        width: calc((100% - 120px) / 4);
        margin: 15px;
    }
    .feature__wrapper {
        width: 270px;
    }
}