.page-footer {
    background-color: var(--secondary-bgc-color);
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: flex;
        align-items: baseline;
    }

    &__address {
        width: 230px;
        margin-right: 70px;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 20px;
        color: var(--white-color);
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.address__link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--adr-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address {
    display: block;

    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
}

.social-box {
    margin-right: 92px;
}

.newsletter-box {
    width: 570px;
}

.newsletter-form {
    display: flex;

    &__input {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        margin-right: 12px;
        background-color: inherit;
        padding: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &__btn {
        @extend %align;
        height: 50px;
        padding: 0px 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &__icon {
        background-size: contain;
        margin-left: 10px;
    }
}

.white-theme {
    color: var(--white-color);
}