:root {
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --btn-color: #188CE8;
    --main-font: #212121;
    --secondary-font: #757575;
    --adr-color: rgba(255, 255, 255, 0.6);
    --bgc-color: #FFFFFF;
    --logo-black-color: #000000;
    --secondary-bgc-color: #2F303A;
    --hero-bg-color: #C4C4C4;
    --third-bgc-color: #F5F4FA;
    --border-header: #ECECEC;
    --border-card: #EEEEEE;
    --svg-list-color: #AFB1B8;
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;


}